<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: html(template=~{::section})}">
<section>
	<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="card shadow-sm p-4">
				<h2 class="mb-4 text-center">Entrar no Caronas</h2>

				<form method="post" th:action="@{/login}">
					<div class="mb-3">
						<label for="username" class="form-label">Telefone
							(Usuário)</label> <input type="tel" class="form-control" id="username"
							name="username" required placeholder="Ex: (84) 99999-9999">
					</div>

					<div class="mb-3">
						<label for="password" class="form-label">Senha</label> <input
							type="password" class="form-control" id="password"
							name="password" required placeholder="Sua senha">
					</div>

					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="remember-me"
							name="remember-me"> <label class="form-check-label"
							for="remember-me">Lembrar de mim</label>
					</div>

					<button type="submit"
						class="btn btn-primary w-100 py-2 fw-bold mb-3">Entrar</button>

					<div class="text-center">
						<p class="mb-0 text-muted">
							Ainda não tem uma conta? <a href="/cadastro"
								class="text-primary text-decoration-none fw-bold">Cadastre-se</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		document
				.addEventListener(
						'input',
						function(e) {
							if (e.target
									&& (e.target.id === 'telefone' || e.target.id === 'username')) {
								let input = e.target;
								let v = input.value.replace(/\D/g, '');

								if (input.dataset.backspace === 'true') {
									delete input.dataset.backspace;
									input.value = v;
									return;
								}

								if (v.length > 11)
									v = v.slice(0, 11);

								if (v.length > 6) {
									input.value = '(' + v.substring(0, 2)
											+ ') ' + v.substring(2, 7) + '-'
											+ v.substring(7, 11);
								} else if (v.length > 2) {
									input.value = '(' + v.substring(0, 2)
											+ ') ' + v.substring(2, 7);
								} else if (v.length > 0) {
									input.value = '(' + v;
								} else {
									input.value = '';
								}
							}
						});

		document
				.addEventListener(
						'keydown',
						function(e) {
							if (e.target
									&& (e.target.id === 'telefone' || e.target.id === 'username')) {
								if (e.key === 'Backspace') {
									e.target.dataset.backspace = 'true';
								}
							}
						});
	</script>
</section>

</html>