<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: html(template=~{::section})}">
<section>
	<div class="row justify-content-center my-5"> <!-- Adicionado my-5 para afastar do topo/baixo da página -->
		<div class="col-md-6"> <!-- Reduzido levemente a largura para dar destaque ao card central -->
			<div class="card shadow-sm p-5"> <!-- Aumentado de p-4 para p-5 para mais espaço interno -->
				<h2 class="mb-4 text-center">Deseja realmente sair?</h2>

				<form th:action="@{/logout}" method="post">
					<div class="row mb-3">
						<div class="col-md-12">
							<button class="btn btn-primary w-100 py-2 fw-bold"
								type="submit">Logout</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
</html>